* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: .3fr 2fr .1fr / 1fr 5fr;
    height: 100vh;
}

.header,
.footer {
    display: flex;
    align-items: center;
    grid-column: 1 / -1;
    background-color: #003153;
}

.header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000;
    font-size: 50px;
    margin-left: 24px;
    color: white;
    letter-spacing: 2px;
}

.sidebar {
    background-color: gainsboro;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hide {
    visibility: hidden;
}

.add-project,
.view-projects {
    align-self: center;
    margin-top: 10px;
    font-size: 16px;
}

.add-todo {
    width: 200px; height: 40px;
    align-items: start;
    margin-top: 10px;
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.projects-list button {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 6px;
}

.projects-list button:hover {
    border: 1px solid black;
}

.sidebar button {
    width: 90%; height: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #FCFBF4;
}

.todo-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: start;
    height: 60px;
    padding: 0px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #FCFBF4;
    margin-top: 16px;
    font-size: 20px;
}

.todo-item input[type='checkbox'] {
    height: 30px; width: 30px;
}

.btn-remove-todo {
    height: 30px; width: 30px;
    font-size: 25px;
    border: 1px solid black;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

dialog {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog form {
    height: 350px; width: 250px;
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    padding: 30px;
    gap: 16px;
    font-size: 14px;
}

form input,
form button,
form textarea,
form select {
    width: 100%;
}

.project-overview {
    font-size: 20px;
    
}

.project-overview ul {
    margin-left: 20px;
}

.project-overview h3 {
    font-size: 30px;
    margin: 10px 0px 16px 0px;
}